In [108]:
import pandas as pd 
from pubmed_lookup import PubMedLookup
from pubmed_lookup import Publication

In [109]:
codelund=pd.read_csv('./output/codesharing_lund.csv')
restlund=pd.read_csv('./output/resttransparency_lund.csv')

transplund=pd.merge(codelund, restlund, on='pmid')

transplund['Institution']='Lund'

In [110]:
codeki=pd.read_csv('./output/codesharing_ki.csv')
restki=pd.read_csv('./output/resttransparency_ki.csv')

transpki=pd.merge(codeki, restki, on='pmid')

transpki['Institution']='Karolinska'

transpki=transpki.drop_duplicates(subset=['pmid'])

In [111]:
codestanford=pd.read_csv('./output/codesharing_stanford.csv')
reststanford=pd.read_csv('./output/resttransparency_stanford.csv')

transpstanford=pd.merge(codestanford, reststanford, on='pmid')

transpstanford['Institution']='Stanford'

In [112]:
transplund = transplund.rename(columns={'pmid':'PMID'})
transpki = transpki.rename(columns={'pmid':'PMID'})
transpstanford = transpstanford.rename(columns={'pmid':'PMID'})

In [113]:
transpki['is_open_code'] = transpki['is_open_code'].astype('bool')
transpki['is_open_data'] = transpki['is_open_data'].astype('bool')

transplund['is_open_code'] = transplund['is_open_code'].astype('bool')
transplund['is_open_data'] = transplund['is_open_data'].astype('bool')

transpstanford['is_open_code'] = transpstanford['is_open_code'].astype('bool')
transpstanford['is_open_data'] = transpstanford['is_open_data'].astype('bool')

In [114]:
pmcoaki=pd.read_csv('./pmcoalist_ki.csv')
pmcoalund=pd.read_csv('./pmcoalist_lund.csv')
pmcoastanford=pd.read_csv('./pmcoalist_stanford.csv')

In [115]:
transpki=pd.merge(transpki,pmcoaki,on='PMID')
transplund=pd.merge(transplund,pmcoalund,on='PMID')
transpstanford=pd.merge(transpstanford,pmcoaki,on='PMID')

# the ones that are research
transpkiresearch=transpki[transpki.is_research_x]
transplundresearch=transplund[transplund.is_research_x]
transpstanfordresearch=transpstanford[transpstanford.is_research_x]

In [116]:
transpstanford['Publication_Year']=transpstanford['Publication Year']
columns=['PMID','is_coi_pred','is_register_pred','is_fund_pred','is_open_code','is_open_data','Publication_Year','Institution']
transps=pd.DataFrame(transpstanford, columns=columns)
transps['is_open_code'] = transps['is_open_code'].astype('bool')
transps['is_open_data'] = transps['is_open_data'].astype('bool')

In [117]:
transpki['Publication_Year']=transpki['Publication Year']
columns=['PMID','is_coi_pred','is_register_pred','is_fund_pred','is_open_code','is_open_data','Publication_Year','Institution']
transpk=pd.DataFrame(transpki, columns=columns)
transpk['is_open_code'] = transpk['is_open_code'].astype('bool')
transpk['is_open_data'] = transpk['is_open_data'].astype('bool')

In [118]:
transplund['Publication_Year']=transplund['Publication Year']
columns=['PMID','is_coi_pred','is_register_pred','is_fund_pred','is_open_code','is_open_data','Publication_Year','Institution']
transpl=pd.DataFrame(transplund, columns=columns)
transpl['is_open_code'] = transpl['is_open_code'].astype('bool')
transpl['is_open_data'] = transpl['is_open_data'].astype('bool')

In [119]:
transps.to_csv('stanford.csv')
transpk.to_csv('ki.csv')
transpl.to_csv('lund.csv')

In [120]:
all=pd.concat([transpk, transps])
all=pd.concat([all,transpl])

all.to_csv('all.csv')

In [121]:
all

,PMID,is_coi_pred,is_register_pred,is_fund_pred,is_open_code,is_open_data,Publication_Year,Institution
0,28119597,True,False,True,False,True,2017,Karolinska
1,28115865,True,False,True,False,False,2016,Karolinska
2,28094017,False,False,True,False,False,2017,Karolinska
3,28096986,True,False,False,True,True,2016,Karolinska
4,28101525,True,False,True,True,False,2017,Karolinska
...,...,...,...,...,...,...,...,...
11350,35283836,True,False,True,True,True,2022,Lund
11351,35282166,True,False,True,True,False,2022,Lund
11352,35284247,True,False,True,True,False,2022,Lund
11353,34678751,True,False,True,False,False,2022,Lund
11354,34197271,True,False,False,False,False,2022,Lund

In [133]:
all.iloc[:,1:]
nu=all.groupby(['Publication_Year','Institution']).mean()*100
nu=nu.iloc[:,1:]
nu.to_csv('TRY.csv')

In [ ]:
all

,PMID,is_coi_pred,is_register_pred,is_fund_pred,is_open_code,is_open_data,Publication_Year,Institution
0,28119597,True,False,True,False,True,2017,Karolinska
1,28115865,True,False,True,False,False,2016,Karolinska
2,28094017,False,False,True,False,False,2017,Karolinska
3,28096986,True,False,False,True,True,2016,Karolinska
4,28101525,True,False,True,True,False,2017,Karolinska
...,...,...,...,...,...,...,...,...
11350,35283836,True,False,True,True,True,2022,Lund
11351,35282166,True,False,True,True,False,2022,Lund
11352,35284247,True,False,True,True,False,2022,Lund
11353,34678751,True,False,True,False,False,2022,Lund
11354,34197271,True,False,False,False,False,2022,Lund